<datasources-configuration xmlns:svns="http://org.wso2.securevault/configuration">

    <providers>
        <provider>org.wso2.carbon.ndatasource.rdbms.RDBMSDataSourceReader</provider>
    </providers>

    <datasources>
      <datasource>
          <name>WSO2_CARBON_DB</name>
          <description>The datasource used for registry and user manager</description>
          <jndiConfig>
              <name>jdbc/WSO2CarbonDB</name>
          </jndiConfig>
          <definition type="RDBMS">
              <configuration>
                  <url>jdbc:h2:repository/database/WSO2CARBON_DB;DB_CLOSE_ON_EXIT=FALSE;LOCK_TIMEOUT=60000</url>
                  <username>wso2carbon</username>
                  <password>wso2carbon</password>
                  <driverClassName>org.h2.Driver</driverClassName>
                  <maxActive>50</maxActive>
                  <maxWait>60000</maxWait>
                  <testOnBorrow>true</testOnBorrow>
                  <validationQuery>SELECT 1</validationQuery>
                  <validationInterval>30000</validationInterval>
                  <defaultAutoCommit>false</defaultAutoCommit>
              </configuration>
          </definition>
      </datasource>

        <datasource>
            <name>wso2_reg_db</name>
            <description>The datasource used for registry</description>
            <jndiConfig>
                <name>jdbc/WSO2RegDS</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>{{ wso2_reg_db.url }}</url>
                    <username>{{ wso2_reg_db.username }}</username>
                    <password>{{ wso2_reg_db.password }}</password>
                    <driverClassName>{{ wso2_reg_db.driver_class_name }}</driverClassName>
                    <maxActive>50</maxActive>
                    <maxWait>60000</maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                    <defaultAutoCommit>false</defaultAutoCommit>
                </configuration>
            </definition>
        </datasource>

        <datasource>
            <name>wso2_user_db</name>
            <description>The datasource used for user management</description>
            <jndiConfig>
                <name>jdbc/WSO2UserDS</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>{{ wso2_user_db.url }}</url>
                    <username>{{ wso2_user_db.username }}</username>
                    <password>{{ wso2_user_db.password }}</password>
                    <driverClassName>{{ wso2_user_db.driver_class_name }}</driverClassName>
                    <maxActive>50</maxActive>
                    <maxWait>60000</maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                    <defaultAutoCommit>false</defaultAutoCommit>
                </configuration>
            </definition>
        </datasource>

        <datasource>
            <name>wso2_identity_db</name>
            <description>The datasource used for identity management</description>
            <jndiConfig>
                <name>jdbc/WSO2IdentityDS</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>{{ wso2_identity_db.url }}</url>
                    <username>{{ wso2_identity_db.username }}</username>
                    <password>{{ wso2_identity_db.password }}</password>
                    <driverClassName>{{ wso2_identity_db.driver_class_name }}</driverClassName>
                    <maxActive>50</maxActive>
                    <maxWait>60000</maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                    <defaultAutoCommit>false</defaultAutoCommit>
                </configuration>
            </definition>
        </datasource>

        <datasource>
            <name>wso2_consent_db</name>
            <description>The datasource used for consent management</description>
            <jndiConfig>
                <name>jdbc/WSO2ConsentDS</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>{{ wso2_consent_db.url }}</url>
                    <username>{{ wso2_consent_db.username }}</username>
                    <password>{{ wso2_consent_db.password }}</password>
                    <driverClassName>{{ wso2_consent_db.driver_class_name }}</driverClassName>
                    <maxActive>50</maxActive>
                    <maxWait>60000</maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                    <defaultAutoCommit>false</defaultAutoCommit>
                </configuration>
            </definition>
        </datasource>
    </datasources>
</datasources-configuration>
